html {
  font-size: 16px !important;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: #000000;
  text-decoration: none;
}
@font-face {
  font-family: STXingkai;
  src: url("STXingkai.ttf") format("truetype");
}
@font-face {
  font-family: simkai;
  src: url("simkai.ttf") format("truetype");
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
  line-height: 3.125rem;
  background: #ffffff;
  box-shadow: 0px -7px 7px -3px rgba(0, 0, 0, 0.1);
  z-index: 99;
  font-family: STXingkai;
  font-size: 1.25rem;
}
footer > div {
  width: 100%;
  height: 100%;
}
footer .btn {
  position: absolute;
  top: -1.25rem;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 2.5rem;
  height: 1.25rem;
  border: 0.0625rem solid #dedede;
  opacity: 0.5;
  border-bottom: none;
  border-top-right-radius: 0.9375rem;
  background: #ffffff;
  box-shadow: 0px -7px 7px -3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
footer .btn::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.3125rem;
  background: url(../../images/public/arrow.png) 0 0 no-repeat;
  background-size: 100%;
  transition: transform 0.5s;
}
footer .btn.on {
  opacity: 1;
}
footer .btn.on::after {
  transform: rotate(180deg);
}
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
footer nav a {
  max-width: 33.33%;
  width: 33.33%;
  height: 100%;
  cursor: pointer;
  border-right: 1px solid #efefef;
}
footer nav a:last-child {
  border: none;
}
footer nav a.on {
  color: #0080ff;
  font-weight: bold;
}
