// color
@white255: rgba(255, 255, 255, 1);
@white239: rgba(239, 239, 239, 1);
@white222: rgba(222, 222, 222, 1);
@white200: rgba(200, 200, 200, 1);
@bluemoke: rgba(0, 128, 255, 1);
@blue80: rgba(80, 80, 255, 1);
@black: rgba(0, 0, 0, 1);

// flex
.flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-end() {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-center-start() {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-between-center() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start-center() {
    display: flex;
    justify-content: start;
    align-items: center;
}

// font
@font-face {
    font-family: STXingkai;
    src: url(./华文行楷.ttf);
}

@font-face {
    font-family: simkai;
    src: url(./楷体.ttf);
}