main {
  width: 100vw;
  height: 100vh;
  padding: 1.25rem 0.625rem;
}
main .title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c8c8c8;
}
main .title * {
  width: 100%;
}
main .title h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 0.3125rem;
  font-family: STXingkai;
}
main .title p {
  font-size: 1rem;
  color: #c8c8c8;
  line-height: 1.25rem;
  padding-bottom: 0.625rem;
  font-family: simkai;
}
main .content {
  width: 100%;
  margin-top: 0.625rem;
}
