html {
  font-size: 16px !important;
  color: #000;
}
@font-face {
  font-family: STXingkai;
  src: url(STXingkai.ttf) format("truetype");
}
@font-face {
  font-family: simkai;
  src: url(simkai.ttf) format("truetype");
}
main {
  width: 100vw;
  min-height: 6.25rem;
  padding: 0.625rem;
}
main #notice {
  width: 100%;
  min-height: 6.25rem;
  padding: 0.625rem;
  border-bottom: 0.0625rem solid #c8c8c8;
  overflow: auto;
}
main #notice .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  line-height: 2rem;
}
main #notice .title span {
  font-family: "STXingkai";
}
main #notice .title button {
  width: 4rem;
  margin-left: 2rem;
  padding: 5px 10px;
  background-color: #0080ff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
main #notice .title button:hover {
  background-color: #5050ff;
}
main #notice .content {
  width: 100%;
  min-height: 8.125rem;
  max-height: 12.5rem;
  overflow: auto;
}
main #notice .content li {
  position: relative;
  margin-bottom: 0.3125rem;
  /* &:first-child {
                    &::after {
                        content: "NEW";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 2rem;
                        height: 1.25rem;
                        padding: 0 .5rem;
                        background: @noticeNew;
                        color: @white255;
                        text-align: center;
                        line-height: 1.25rem;
                        font-size: .75rem;
                        border-radius: .75rem;
                    }
                } */
}
main #notice .content li span {
  margin-right: 0.5rem;
}
main #notice .content li a {
  text-decoration: underline;
}
