html {
  font-size: 16px !important;
  color: #000;
}
#user_info {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 9.375rem;
  padding: 0 0.625rem 0.625rem;
  border-bottom: 0.0625rem solid #c8c8c8;
}
#user_info .user_head {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 0.0625rem solid #efefef;
  overflow: hidden;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem -0.1875rem rgba(0, 0, 0, 0.1);
}
#user_info .user_head img {
  width: 100%;
  height: 100%;
}
#user_info .user_name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  margin-left: 1.25rem;
}
#user_info .user_name h1 {
  font-size: 24px;
  margin-bottom: 0.3125rem;
}
#user_info .user_name p {
  font-size: 14px;
  color: #c8c8c8;
}
main {
  width: 100vw;
  height: calc(100vh - 9.375rem);
  min-height: 6.25rem;
  padding: 0.625rem;
  margin-top: 9.375rem;
  overflow: auto;
}
